@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-BoldItalic.eot');
    src: url('../../fonts/Kallisto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Kallisto-BoldItalic.woff') format('woff'),
        url('../../fonts/Kallisto-BoldItalic.ttf') format('truetype'),
        url('../../fonts/Kallisto-BoldItalic.svg#Kallisto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-Heavy.eot');
    src: url('../../fonts/Kallisto-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-Heavy.woff2') format('woff2'),
        url('../../fonts/Kallisto-Heavy.woff') format('woff'),
        url('../../fonts/Kallisto-Heavy.ttf') format('truetype'),
        url('../../fonts/Kallisto-Heavy.svg#Kallisto-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-Bold.eot');
    src: url('../../fonts/Kallisto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-Bold.woff2') format('woff2'),
        url('../../fonts/Kallisto-Bold.woff') format('woff'),
        url('../../fonts/Kallisto-Bold.ttf') format('truetype'),
        url('../../fonts/Kallisto-Bold.svg#Kallisto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-HeavyItalic.eot');
    src: url('../../fonts/Kallisto-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-HeavyItalic.woff2') format('woff2'),
        url('../../fonts/Kallisto-HeavyItalic.woff') format('woff'),
        url('../../fonts/Kallisto-HeavyItalic.ttf') format('truetype'),
        url('../../fonts/Kallisto-HeavyItalic.svg#Kallisto-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-Light.eot');
    src: url('../../fonts/Kallisto-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-Light.woff2') format('woff2'),
        url('../../fonts/Kallisto-Light.woff') format('woff'),
        url('../../fonts/Kallisto-Light.ttf') format('truetype'),
        url('../../fonts/Kallisto-Light.svg#Kallisto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-LightItalic.eot');
    src: url('../../fonts/Kallisto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-LightItalic.woff2') format('woff2'),
        url('../../fonts/Kallisto-LightItalic.woff') format('woff'),
        url('../../fonts/Kallisto-LightItalic.ttf') format('truetype'),
        url('../../fonts/Kallisto-LightItalic.svg#Kallisto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-Medium.eot');
    src: url('../../fonts/Kallisto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-Medium.woff2') format('woff2'),
        url('../../fonts/Kallisto-Medium.woff') format('woff'),
        url('../../fonts/Kallisto-Medium.ttf') format('truetype'),
        url('../../fonts/Kallisto-Medium.svg#Kallisto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-ThinItalic.eot');
    src: url('../../fonts/Kallisto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-ThinItalic.woff2') format('woff2'),
        url('../../fonts/Kallisto-ThinItalic.woff') format('woff'),
        url('../../fonts/Kallisto-ThinItalic.ttf') format('truetype'),
        url('../../fonts/Kallisto-ThinItalic.svg#Kallisto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-MediumItalic.eot');
    src: url('../../fonts/Kallisto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Kallisto-MediumItalic.woff') format('woff'),
        url('../../fonts/Kallisto-MediumItalic.ttf') format('truetype'),
        url('../../fonts/Kallisto-MediumItalic.svg#Kallisto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisto';
    src: url('../../fonts/Kallisto-Thin.eot');
    src: url('../../fonts/Kallisto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Kallisto-Thin.woff2') format('woff2'),
        url('../../fonts/Kallisto-Thin.woff') format('woff'),
        url('../../fonts/Kallisto-Thin.ttf') format('truetype'),
        url('../../fonts/Kallisto-Thin.svg#Kallisto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCSignLanguageW00';
    src: url('../../fonts/CCSignLanguageW00-Regular.woff2') format('woff2'),
        url('../../fonts/CCSignLanguageW00-Regular.woff') format('woff'),
        url('../../fonts/CCSignLanguageW00-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCSignLanguageW00';
    src: url('../../fonts/CCSignLanguageW00-Regular_1.woff2') format('woff2'),
        url('../../fonts/CCSignLanguageW00-Regular_1.woff') format('woff'),
        url('../../fonts/CCSignLanguageW00-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CCSignLanguageW00';
    src: url('../../fonts/CCSignLanguageW00-Regular_2.woff2') format('woff2'),
        url('../../fonts/CCSignLanguageW00-Regular_2.woff') format('woff'),
        url('../../fonts/CCSignLanguageW00-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../../fonts/LexendDeca-Regular.woff2') format('woff2'),
    url('../../fonts/LexendDeca-Regular.woff') format('woff'),
    url('../../fonts/LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .btn-circle {

        @apply relative ml-[57px] mr-[43px] z-[2] text-white text-[16px] uppercase hover:text-secondary;
    }
    .btn-circle::before {
        content: '';
        background-image: url(../../public/header-cta.svg);
        background-size: 100%;
        @apply absolute w-[187px] h-[50px] left-[-45px] top-[-15px] right-0 z-[-1] bg-100% bg-no-repeat;
    }
}

.banner-section
{
   @apply pt-[80px] pb-[320px]; 
}
.banner_inner_section h1 {
    max-width: 950px;color: #f7f9fc;
    @apply font-bold text-[70px] text-center mt-[0] ml-[auto] mr-[auto]  mb-[20px] leading-tight font-kallisto;
}
.hero_description  {
    max-width: 662px;color: #ababab;
  @apply font-normal font-lexend-deca text-[22px] text-center leading-[34px] mt-[0] ml-[auto] mr-[auto] mb-[40px];

}
.banner_inner_section h1 span {
    background: linear-gradient(90deg, #ff2093 34.92%, #00c2ff 98.6%);background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;font-style: italic;
}
.who_we_are_section
{
    @apply pt-[86px] pb-[120px];
}
.who_we_are_section .inner-container
{
    @apply px-8;
}
.cta_btutton.banner-btn {
    color: #fff;
}
.we-are-inner .title-part {
    @apply pr-[84px] w-[50%];
}
.we-are-inner .discription-part {
        @apply w-[50%];

} 
.video-section {
    @apply w-[100%]  mt-[-240px];
    position: relative;
}
a.home-btn:hover {
    background: linear-gradient(90deg,#00c2ff,#ff2093 99.88%);
}

a.home-btn.banner-btn {
    box-shadow: 6px 6px #929292;
}
a.home-btn {
    color: #1f1f1f;
}
.cta_btutton{
   @apply text-center flex justify-center ;
}

a.home-btn {
    background-color: #00c2ff;min-width: 240px;color: #000;text-decoration: none;box-shadow: 6px 6px #1f1f1f;display: table;transition: all .3s linear;
    @apply uppercase tracking-[2px] text-center font-kallisto pt-[10px] pb-[10px] pl-[25px] pr-[25px] text-[20px] font-extrabold leading-tight;
}
.we-are-inner .title-part h2 {
    color: #1f1f1f; 
    @apply leading-[24px] font-lexend-deca text-[16px] font-medium mb-[6px] tracking-[6.4px];
   }
.we-are-inner .title-part h3 {
    color: #1f1f1f;
    @apply tracking-[4px] leading-[43px] font-bold text-[35px] font-kallisto;
    }
.we-are-inner .title-part h3 span:before {
    background: linear-gradient(90deg,#e72f9d,#6d7dd1 60%,#02c1fe);
}
.we-are-inner .title-part h3>span {
    position: relative; @apply z-[2];

}
.we-are-inner .title-part h3 span:before {
 position: absolute;content: "";height: 25px;
 @apply z-[-1] bottom-[0] w-[100%];

}
.we-are-inner .discription-part .description p,.we-are-inner .discription-part .description  {
    color: #1f1f1f;
 @apply leading-[31px] font-lexend-deca font-normal text-[20px] mb-[40px];
}
.video_inner_section
{
    @apply px-[60px];
}
 .we-are-inner {

@apply flex items-center
}
@media only screen and (max-width: 768px) {
    .hero_description {
    color: #fff;
}
.video-section {
 @apply mt-[-100px]; }
    .banner-section h1 {
 @apply text-[40px] mt-[0] ml-[auto] mr-[auto] mb-[15px];
    }
section.bg-primary.banner-section {
     @apply pb-[172px] pt-[60px];
}
 .we-are-inner { display: block;}
.we-are-inner .title-part {
 @apply w-[100%] pr-[0px] mb-[30px];
}
.we-are-inner .discription-part {
     @apply w-[100%];
} 
}
@media screen and (max-width: 1024px) {
    .banner-section h1 {
     @apply text-[50px] mt-[0] ml-[auto] mr-[auto] mb-[15px];
    }
}

@media screen and (max-width: 1280px) {
    .about-container, .container, .container2 {
         @apply pt-[0px] pb-[0px] pl-[20px] pr-[20px];
            max-width: 1512px;
    }
}
.hamburger-icon {@apply text-[24px];color: #ff2093;}
header.sticky {box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);}
.header {background: #1f1f1f;}

input#menu-toggle { display: none;}
nav#mobile-menu { display: none; }
input#menu-toggle:checked ~ nav#mobile-menu { display: block; }

@media (min-width: 768px) {
  nav#mobile-menu {
   @apply flex;
  }

  .hamburger-icon { display: none;}
}


@media (max-width: 990px) {
  nav#mobile-menu ul {
    flex-direction: column;
    @apply gap-[20px];
  }
 nav#mobile-menu li {
    @apply mt-[10px] mb-[10px] ml-[0px] mr-[0px];
 }
.hamburger-icon {display: block;}
}

.hamburger-icon { @apply text-[30px];}
.nav-mobile {display: none;}

@media (max-width: 991px) {
  .nav-mobile {
  display: block;width: 100%;
  @apply p-[20px];}
  nav ul {flex-direction: column;@apply gap-[20px];}
  nav li { @apply mt-[10px] mb-[10px] my-[0px];}
}

nav.mobile-menu-nav {background-color: #fff;@apply z-[9];top: 83px;}
nav.mobile-menu-nav ul li a {color: #000;}
nav.mobile-menu-nav ul {align-items: initial;@apply px-[20px]  gap-[0px];}

@media (max-width: 991px) {
nav.desktop-menu-nav {display: none !important;}
.mobile-ham-btn { display: block !important;}
.btn-circle { @apply ml-[45px];}
}

@media (max-width:991px) and (min-width: 768px){
.we-are-inner .title-part { @apply pr-[20px]; }
.we-are-inner { display: flex;align-items: flex-start;}
.we-are-inner .title-part h3 { @apply text-[28px] leading-[35px]; }
.we-are-inner .discription-part .description { @apply text-[18px] ; }
}

footer.footer_footer__GoTLO { background: #1f1f1f;color: #fff !important;}
footer.footer_footer__GoTLO a { color:#fff;cursor: pointer; }

@media (min-width: 1500px) {

.container { max-width: 100%;}
}